img( ng-src="http://dummyimage.com/60x40/FFF/000&text={{row.getProperty('imageCaption')}}", lazy-src)

var grid template

<div class="thumbnail"><img src="${0}" width="50" height="50" /></div><div class="title" >${1}<span> <i> (${2} ) </i></span></div><div class="summary">${3} </div>


var map template

<div class="thumbnail"><img src="${0}" width="50" height="50" /></div><div class="title" >${1}<span> <i> (${2} ) </i></span></div><div class="summary">${3} </div>