
block stylesblock append
    link(rel='stylesheet', href='/stylesheets/accordianstyles.css')
    link(rel='stylesheet', href='/stylesheets/gridstyle.css')
    link(rel='stylesheet', href='/stylesheets/flexbox.css')

style.panel-heading.panel-title.
    accordion-toggle{
        font-size: 0.75em;
        font-weight: bold
    }


block append scriptsblock
            script(src='http://js.pusherapp.com/1.10/pusher.min.js')
            script(src='/javascripts/lib/SearcherCtrlGrp.js')
            script(src='/javascripts/lib/SearcherCtrlMap.js')
            script(type="text/ng-template" id="accordion-template.jade")
                div(class="panel {{panelClass || 'panel-default'}}")
                    div(class="panel-heading")
                        h4(class="panel-title", style="font-size: 1.35em; font-weight: 600; color: #0202d8;")
                            div(href tabindex="0", class="accordion-toggle", ng-click="toggleOpen()", uib-accordion-transclude="heading")
                                span(style="width: 100%;")
                                    img(class="accdionchevron-right", ng-class="{'accdionchevron-down': isOpen, 'accdionchevron-right': !isOpen}")
                                    span(ng-class="{'text-muted': isDisabled}")
                                    | {{heading}}
                    div(class="panel-collapse collapse", uib-collapse="!isOpen")
                        div(class="panel-body", style="text-align: left; font-size=1.0em;", ng-transclude)


block append content

#idChildWebSite(ng-cloak, class="ng-cloak")
    #spa_window(class="wrapper-website", ng-controller="SPACtrl", ng-cloak, class="ng-cloak")
        div(class="container-website")

            #idContainerPrimary(class="container-primary subwebsite_defaultprimarycolor \
                subwebsite_textprimarycolor subwebsite_dividercolor")
                #idSiteTopRow(class="flex1 container-toprow", ng-controller="TopRowCtrl",
                    style="display:{{$parent.topRowShowing}}")
                    div(class="container-newscell")
                        div(class="container-newscellhead").
                            This web site embeds MapLinkr using {{curMapSys}}
                        div(class="container-newscellbody newscelllatin" style="opacity: 0.8;")
                            div(style="display: flex; flex-direction: column;")
                                div(class="flex1", style="display: flex; flex-flow: row wrap; justify-content: space-around;")
                                    img(ng-src="../stylesheets/images/AptsDotCom.png")
                                    img(ng-src="../stylesheets/images/CatVideoOfTheWeekDotCom.png")
                                    img(ng-src="../stylesheets/images/NothingButGoldensDotCom.png")
                                    img(ng-src="../stylesheets/images/TripAdvisorDotCom.png")
                                div(class="flex5").
                                    Why does this outfit get to stick its advertisement link in our
                                        website.  Why don't they just go and advertise on gambling and
                                        conspiracy websites.  Maybe they should advertise on cat video
                                        sites.  Actually, putting a Golden Retriever in the advertisement
                                        seems to work 100% of the time.  Apartments.com might even
                                        replace their logo with a smiling Golden Retriever.

                div(class="flex3")
                    #idContainerBody(class="container-body container")
                        #idBody(class="bodyMap row-eq-height")

                            #idLeftCol(class="col-xs-12 col-sm-6 col-md-4",
                                ng-controller="LeftColCtrl",
                                style="display:{{$parent.leftColShowing}}")
                                include LeftCol.jade

                            #idCenterCol(class="{{mapColDef}}",
                                ng-controller="MapColCtrl",
                                style="display:{{$parent.mapColShowing}}")
                                include MapCol.jade

                            #idRightCol(class="col-xs-12 col-sm-6 col-md-4",
                                ng-controller="RightColCtrl",
                                style="display:{{$parent.rightColShowing}}")
                                include RightCol.jade

            #DestWndDialogArcGIS

            #PusherChannelDialog
